.hidden {
    display: none;
}

.ui.dark.menu {
    background-color: #2c2f33 !important;
    box-shadow: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ui.dark.menu a.item {
    color: #ffffff !important;
    font-size: 1.1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.ui.dark.menu .active.item {
    color: #D32F2F !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.ui.dark.menu a.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #D32F2F !important;
    border-bottom: none;
}

main.ui.container {
    margin-top: 45px !important;
}


.ui.card {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ui.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ui.button.fluid {
    font-size: small;
    background-color: #D32F2F;
    color: white;
}

.ui.button.fluid:hover {
    background-color: #b22222;
}

.ui.button {
    text-align: center !important;
}

#race-grid {
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-bottom: 50px !important;
}


#constructor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#driver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#circuit {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 25px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

.results-title h3 {
    margin-top: 20px !important;
    font-size: 1.5em;
    text-align: center;
}


#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.close-button-top {
    position: absolute;
    top: 3px;
    right: 2px;
    background: none;
    border: none;
    font-size: 1.0rem;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    transition: transform 0.2s, background-color 0.2s;
}

.close-button-top:hover {
    color: red;
    /* background: #b22222;
    border: 1px solid #b22222; */
    /* color: white; */
    transform: scale(1.1);
}

.ui.button.close-button {
    position: absolute;
    right: 20px;
    background-color: #D32F2F;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 4px;
}

.ui.button.close-button:hover {
    background-color: #b22222;
}


.driver-details-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.driver-image img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.driver-details {
    flex: 1;
}

#circuit .ui.button {
    margin-top: 20px;
}


.favorite-icon-wrapper {
    position: absolute;
    top: 10px;
    right: 10px;

}

.heart-icon {
    cursor: pointer;
    font-size: 1.0rem;
    transition: color 0.3s ease;
}

.heart-icon:hover {
    color: #ff6666;
}

.heart-icon.red {
    color: red;
    margin-left: 5px;
    font-size: 0.80rem;
}

.sortable {
    cursor: pointer !important;
}

.country-details {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.label-bold {
    font-weight: bold;
    margin-right: 3px;
}

.country-name {
    margin-right: 10px;
    font-size: 1rem;
    color: #333;
}

.country-flag {
    width: 20px;
    height: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.medal-icon {
    margin-right: 5px;
    font-size: 1.0rem;
    vertical-align: middle;
}

.gold-medal {
    color: gold;
}

.silver-medal {
    color: silver;
}

.bronze-medal {
    color: #cd7f32;
}

.qualified-icon {
    font-size: 0.8rem;
    color: green;
    margin-left: 5px;
    vertical-align: middle;
    display: inline-block;
}

#favorites-popup {
    display: none;
    /* Hide the popup initially */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1100;
    width: 80%;
    max-width: 500px;
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


#favorites-popup h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#favorites-popup ul {
    list-style-type: disc;
    padding-left: 20px;
}

#favorites-popup li {
    margin-bottom: 5px;
}

#favorites-popup .close-button-top {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #333;
    font-weight: bold;
}

#favorites-popup .close-button-top:hover {
    color: red;
}

.ui.dark.menu a.item i {
    margin-right: 8px;
}

.spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    width: 80px;
    height: 80px;
}

.spinner div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #D32F2F;
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #D32F2F transparent transparent transparent;
}

.spinner div:nth-child(1) {
    animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
    animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.race-results-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2c3e50;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}