.hidden {
    display: none;
}

.ui.dark.menu {
    background-color: #2c2f33 !important;
    box-shadow: none;
    border-bottom: none;
    margin: 0;
    padding: 0;
}

.ui.dark.menu a.item {
    color: #ffffff !important;
    font-size: 1.1em;
    padding: 15px 20px;
    transition: background-color 0.3s ease;
}

.ui.dark.menu .active.item {
    color: #D32F2F !important;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: none;
}

.ui.dark.menu a.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #D32F2F !important;
    border-bottom: none;
}

main.ui.container {
    margin-top: 45px !important;
}


.ui.card {
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ui.card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.ui.button.fluid {
    font-size: small;
    background-color: #D32F2F;
    color: white;
}

.ui.button.fluid:hover {
    background-color: #b22222;
}

.ui.button {
    text-align: center !important;
}

#race-grid {
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-bottom: 50px !important;
}


#constructor {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}

#driver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
}


#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
}

.close-button-top {
    position: absolute;
    top: 4px;
    right: 5px;
    background: #3b3e43;
    border: 1px solid #3b3e43;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    color: white;
    width: 17px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s, background-color 0.2s;
}

.close-button-top:hover {
    background: #b22222;
    border: 1px solid #b22222;
    color: white;
    transform: scale(1.1);
}

.driver-details-container {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.driver-image img {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.driver-details {
    flex: 1;
}